<div>

    <h3>Here you find good hints to successfully master the tasks</h3>

    <ul>
        <li><a target="_blank" href="/hints/section3">section 3</a></li>
        <li><a target="_blank" href="/hints/section4">section 4</a></li>
        <li><a target="_blank" href="/hints/section5">section 5</a></li>
        <li><a target="_blank" href="/hints/section7">section 7</a></li>
        <li><a target="_blank" href="/hints/section8">section 8</a></li>
        <li><a target="_blank" href="/hints/section9">section 9</a></li>
    </ul>

    <br>

    <p>You might ask: <i>"Why are these hints on a separate page? Just put them together with the tasks"</i>. Well the
        idea is
        that those that find the course easy should make less use of the hints. This is easier if you don't have them
        just a scroll away but open in a separate tab, so you only look at them if you really deem it necessary.</p>

</div>