<div>

    <h3>Here you find good hints to successfully master the tasks</h3>
    <ul>
        <li><a target="_blank" href="/hints/chapter1">Chapter 1</a></li>
        <li><a target="_blank" href="/hints/chapter2">Chapter 2</a></li>
        <li><a target="_blank" href="/hints/chapter3">Chapter 3</a></li>
        <li><a target="_blank" href="/hints/chapter4">Chapter 4</a></li>
        <li><a target="_blank" href="/hints/chapter5">Chapter 5</a></li>
        <li><a target="_blank" href="/hints/chapter6">Chapter 6</a></li>
        <li><a target="_blank" href="/hints/chapter7">Chapter 7</a></li>
        <li><a target="_blank" href="/hints/chapter8">Chapter 8</a></li>
        <li><a target="_blank" href="/hints/chapter9">Chapter 9</a></li>
    </ul>
</div>