<div class="container-fluid">
    <div class="row rating-columns">
        <h2>Live workshop rating</h2>

        <p>Please provide live feedback to our workshop. Every participant may give one vote for each of the two
            displayed criteria. The vote may be changed at any time during the workshop. The average of all votes will be reflected by two lights placed in the room.</p>

        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-6 rating-columns">
            <h3>Speed</h3>
            <br>
        </div>
        <div class="col-sm-6 rating-columns">
            <h3>Content</h3>

            <p>(Theory vs. excercises)</p>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 rating-columns">
            <button type="button" class="btn btn-lg btn-success" ng-click="speed(1)">
                <span class="glyphicon glyphicon-plus"></span> faster
            </button>

            <button type="button" class="btn btn-lg btn-default" ng-click="speed(0)">OK</button>

            <button type="button" class="btn btn-lg btn-danger" ng-click="speed(-1)">
                <span class="glyphicon glyphicon-minus"></span> slower
            </button>

        </div>
        <div class="col-sm-6 rating-columns">
            <button type="button" class="btn btn-lg btn-info" ng-click="theory(-1)">
                <span class="glyphicon glyphicon-plus"></span> more lessons
            </button>
            <button type="button" class="btn btn-lg btn-default" ng-click="theory(0)">OK</button>
            <button type="button" class="btn btn-lg btn-danger" ng-click="theory(1)">
                <span class="glyphicon glyphicon-minus"></span> fewer lessons
            </button>

        </div>
    </div>

    <hr><br>
    <div class="row">
        <div class="col-sm-6 rating-columns">
            <h4>Color range for speed lamp</h4>

            <div class="range-container">
                <div class="range-inner speed-range">
                    <div class="range-inner content-saturation-overlay">
                        <span class="pull-left range-text">faster please</span>
                        <span class="pull-right range-text">slower please</span>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-sm-6 rating-columns">
            <h4>Color range for content lamp</h4>

            <div class="range-container">
                <div class="range-inner content-range">
                    <div class="range-inner content-saturation-overlay">
                        <span class="pull-left range-text">move on already!</span>
                        <span class="pull-right range-text">I need practice</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>