<div>

    <h3>Here you find all our slides</h3>
    <ul>
        <li><a target="_blank" href="/slides/IoT_fho_twi.pptx">section 1 - IoT Vortrag OC</a></li>
        <li><a target="_blank" href="/slides/section1">section 1 - Prototyp</a></li>
        <li><a target="_blank" href="/slides/section2">section 2 - Native Stack, 433MHz</a></li>
        <li><a target="_blank" href="/slides/section3">section 3 - Java Native Interfaces</a></li>
        <li><a target="_blank" href="/slides/section4">section 4 - Prototyparchitektur</a></li>
        <li><a target="_blank" href="/slides/section5">section 5 - Persistenz und Domänenmodell</a></li>
        <li><a target="_blank" href="/slides/section6">section 6 - Kommunikation im IoT</a></li>
        <li><a target="_blank" href="/slides/section7">section 7 - Spring Services & DAO</a></li>
        <li><a target="_blank" href="/slides/section8">section 8 - Mobile Applications</a></li>
        <li><a target="_blank" href="/slides/section9">section 9</a></li>
    </ul>
</div>