<div>

    <h3>Here you find all our slides</h3>
    <ul>
        <li><a target="_blank" href="/slides/chapter1">Chapter 1</a></li>
        <li><a target="_blank" href="/slides/chapter2">Chapter 2</a></li>
        <li><a target="_blank" href="/slides/chapter3">Chapter 3</a></li>
        <li><a target="_blank" href="/slides/chapter4">Chapter 4</a></li>
        <li><a target="_blank" href="/slides/chapter5">Chapter 5</a></li>
        <li><a target="_blank" href="/slides/chapter6">Chapter 6</a></li>
        <li><a target="_blank" href="/slides/chapter7">Chapter 7</a></li>
        <li><a target="_blank" href="/slides/chapter8">Chapter 8</a></li>
        <li><a target="_blank" href="/slides/chapter9">Chapter 9</a></li>
    </ul>
</div>