<div>
    <h3>The tasks for the sections 2-X can be found here:</h3>
    <ul>
        <li><a target="_blank" href="/tasks/section2">section 2</a></li>
        <li><a target="_blank" href="/tasks/section3">section 3</a></li>
        <li><a target="_blank" href="/tasks/section4">section 4</a></li>
        <li><a target="_blank" href="/tasks/section5">section 5</a></li>
        <li><a target="_blank" href="/tasks/section6">section 6</a></li>
        <li><a target="_blank" href="/tasks/section7">section 7</a></li>
        <li><a target="_blank" href="/tasks/section8">section 8</a></li>
        <li><a target="_blank" href="/tasks/section9">section 9</a></li>
    </ul>
</div>